.cardActivitiesJ{
    /* display: grid; */
    /* grid-template-columns: 400;
    grid-template-rows: 260px 170px 55px;
    grid-template-areas: "img" "text" "stats"; */
    height: 387px;

    font-family: roboto;
    border-radius: 12px;
    background-color: rgb(221, 221, 221);
    
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin-left: 35px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.body-activitie{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 250px;
    margin:20px;
}

.card-text .date{
    color: rgb(70, 70, 70);
    font-size: 14px;
    font-family:sans-serif
}
.country-city{
    color: rgb(70, 70, 70);
    font-size: 14px;
    font-family:sans-serif
}

.card-text p{
    color: grey;
    font-size: 13px;
    font-weight: 300;
}

.card-text h2{
    margin-top: 10px;
    font-size: 17px;
    color: rgb(43, 43, 43);
    
}

.card-stats{

    display: flex;
    justify-content: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
    background-color: rgb(64, 99, 133);
    margin-top:33px;
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card-stats .type{
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(27, 27, 27);
}

.card-stats .value{
    font-size: 22px;
    font-weight: 500;
    font-family:sans-serif
}

.card-stats .value sup {
    font-size: 12px;
}

.cardActivitiesJ:hover {
    transform: scale(1.04);
    transition: 0.5s;
    box-shadow: 11px 11px 20px 0.1px rgb(34, 34, 34);
    
}

.favoritelogo-div{
    margin-top: 10px;
}

/* .button-favorite{
    border-color: transparent;
    background-color: transparent;
    cursor:pointer;
    color:red;
} */
.button-favorite{
    color: rgb(163, 163, 163);
    background-color: transparent;
    cursor:pointer;
    border-color: transparent;
    font-size: 30px;
}
/* .button-favorite:hover{
    font-size: 35px;
} */
.button-favorite-done{
    color:rgb(206, 50, 50);
    border-color: transparent;
    font-size: 30px;
    cursor:pointer;
    background-color: transparent;
}
/* .button-favorite-done:hover{
    color: rgb(163, 163, 163);
} */
.imageActJ{
    width:250px;
    height: 170px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.date{
    margin-top:50px;
}