.containerSales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    margin: 10px 0;
}
.containerSales span{
    font-weight: bold;
}
#numVenta{
text-align: left!important;
}
.description{
    border-bottom: solid 1px lightgray;
}
.containerSales button{
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #2a4e79;
}
.containerDetailSales{
    display: block;
}
.containerInfoSales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.containerDetailSales:last-of-type{
    border-bottom: solid 1px lightgray;
}
.containerInfoSales span{
    font-weight: bold;
}
.infoSales{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.disabled{
    display: none;
}