.formContact{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.inputContact {
    width: 200px;
border-radius: 7px;
padding: 10px;
color: grey;
}

.inputLinea {
    /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 440px;
*/
  display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    width: 269px;
}

.posicionBtn{
    padding-top: 8px;
    margin-left: 195px;
    width: 90px;
    height: 80px;
}