.card-activity-detail{
    margin-top: 10px;
}

.body-activity-detail{
    background-color: transparent;
}

.detail-down{
    display: flex;
    flex-direction: row;
}

.detail-down .reservation{
    padding: 40px;
    margin-left: 35%;  
    opacity: 85%;
    background-color: rgba(138, 116, 90, 0.281);

    font-family: roboto;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);

    transition: 0.5s ease;
    cursor: pointer;
    margin-top: 35px;
    margin-bottom: 75px;
}

.detail-down .reservation:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.detail-down .comments{
    padding: 40px;
    margin-left: 10px;    
}

.card-image > img {
    max-width: 30%;
}


