.cards-act{
    display: flex;
    flex-wrap: wrap;
}

.filter-component{
    /* position: absolute; */
    margin-left: 25px;
   
}

.filter-cards{
    /*display: flex;
    flex-direction: row;*/
    display: flex;
    flex-direction: column;
    /*background-image: url('../FlightCard/img.jpg');*/
}
.PositionFilterAct{
    position:relative;
    top:100px;
}
.PaqueteDeActividadesHeader{
    /* background-color: #ff6347; */
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 322px ;
    top:40px;
    color:white;
    font-size: 55px;
    font-family: "Skyscanner Relative",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;;
}

.divSupremo {
    background-color: black;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pag{
    height: 30px;
    position: relative;
    top: 250px;
    left: 270px;
}
.divsupremo{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.ActDisponibles{
    color: white;
    font-family: "Skyscanner Relative",-apple-system,BlinkMacSystemFont,"Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 40px;
    
    position: relative;
    top: 80px;
    left: 440px;
}
.BarritaAct{
    width: 700px;
    height: 3px;

    position: relative;
    left:310px;
    top:80px;

    background-color: tomato;
}
.BarritaActArriba{
    width: 700px;
    height: 3px;
    background-color: tomato;

    position: relative;
    left:310px;
    top:40px;
}

