@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carrouselFirstPromos {
  /* margin-top: -50px; */
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
/* .slide img {
  width: 20rem; */
/* margin: 0 auto;
} */

/* .slidePromos {
  transform: scale(0.2);
  transition: transForm 300ms;
  opacity: 0.3;
} */
.imageActiveSlidePromos {
  transform: scale(1);
}
.imagCarusel{
  position: absolute;
  width: 100%;
  height: 72%;
  
}
.arrowPromos {
  position: absolute;
  /* background-color: transparent; */
  cursor: pointer;
  z-index: 10;
}
.arrowPromos svg {
  transition: color 300ms;
}
/* .arrowPromos svg:hover {
  
} */
.nextP {
  right: 3%;
  top: 50%;
}
.prevP {
  left: 3%;
  top: 50%;
}

.container-carouselPromos {
  /* margin-top: 10px; */

  margin: 0px auto;
 
  height: 400px;
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 140px;
  padding: 1%;
  box-shadow: 6px 6px 15px rgb(119, 98, 98);
  /* display: table-cell; */
  text-align: center;
  border: 0.1px double rgba(36, 35, 3, 0.342);
  /* vertical-align: middle; */
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 2%; */
}
.newstitlePromos {
  position: absolute;
  font-family: "Franklin Gothic";
  font-size: 44px;
  color: rgb(255, 255, 255);
  margin-top: -60px;
  font-weight: bolder;
  text-shadow: 5px 5px 9px rgb(46, 46, 46);
  /* font-weight: bold; */
}

.newstextPromos {
  position: absolute;
  font-family: "Franklin Gothic", Arial, sans-serif;
  margin-top: 70px;
  font-weight:bold;

  font-size: 40px;

  /* text-shadow: 6px 6px 10px rgba(43, 41, 41, 0.568); */
}
