@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carrouselFirstPromos {
  /* margin-top: -50px; */
  width: 99%;
  height: 250px;
  align-content: center;
  /* margin: 5rem auto; */
}
/* .slide img {
  width: 20rem; */
  /* margin: 0 auto;
} */

.slidePromos {
  transform: scale(0.2);
  transition: transForm 300ms;
  opacity: 0.3;
}
.imageActiveSlidePromos {
  transform: scale(1);
}
.arrowPromos {
  position: absolute;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 10;
}
.arrowPromos svg {
  transition: color 300ms;
}
.arrowPromos svg:hover {
  color: rgb(255, 255, 255);
}
.nextP {
  right: 0%;
  top: 50%;
}
.prevP {
  left: 0%;
  top: 50%;
}

.container-carouselPromos {
  /* margin-top: 10px; */
  background-color: rgba(252, 9, 62, 0.932);
  max-height: 200px;
  width: 650px;
  border-radius: 0.5rem;
  padding: 1%;
  box-shadow: 6px 6px 15px rgb(119, 98, 98);
  /* display: table-cell; */
  text-align: center;
  border: 0.1px double rgba(36, 35, 3, 0.342);
  /* vertical-align: middle; */
  margin-bottom: 1%;
  /* margin-top: 2%; */
}
.newstitlePromos {
  font-family: "Franklin Gothic";
  font-size: 44px;
  color: rgb(245, 229, 0);
  font-weight: bolder;
  text-shadow: 5px 5px 9px rgb(212, 41, 64);
  /* font-weight: bold; */
}

.newstextPromos {
  font-family: "Franklin Gothic", Arial, sans-serif;
  /* margin-top: 1rem; */
  font-weight: bolder;

  font-size: 10px;

  /* text-shadow: 6px 6px 10px rgba(43, 41, 41, 0.568); */
}
