.tc-sidebar-col {
    flex-grow: 1;
    padding: 15px;
    background: #fff;
    border-right: 1px solid #f1f1f1;
}


h4{
   /* display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
   */
   display: block;
    margin-block-start: 0.33em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: relative;
    background: linear-gradient(
        337deg
        , rgba(67,117,152,1) 28%, rgba(91,153,195,1) 70%, rgba(108,160,241,1) 100%);
   
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    overflow: hidden;
    transition: background .3s;
}

.filter {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.91;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    padding: 0 5px 0 14px;
    display: inline-block;
    border-radius: 12px;
   /* background-color: #b9c6d3;*/
   /*background-color: #dde7f1;*/
   background-color: rgb(0 0 0 / 20%);
    margin: 3px 7px 3px 0;
    cursor: pointer;
   /* border: solid #8987ff;*/
}

.barra {
    /*margin-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;*/
    display:flex;
    flex-direction: column;
    float: left;
    width: 350px;
    margin-left: 10px;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.select-css {
    display: block;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
   margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #888;
  }
  .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  .select-css option {
    font-weight:normal;
  }