.maticss{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PaisCiudadContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    width: 500px;
    margin-left: 10px;
  }

  .ContainerBusqueda{
    background-color: #ff6347;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
  }

  .TextoBusqueda{
    color: white;
    font-size: 30px;
    display: flex;
    background-color: tomato;
  }

  .contenedoresvarios {
      margin-top: -40px;
      align-items: center;
      display: flex;
  }

  .TextPaisCiudad {
    color: white;
    font-size: 20px;
    margin-right: 140px;
    
  }

  .Textleyendbox{
      color: white;
      font-size: 15px;
      margin-right: 10px;
      font-weight: bold;
      margin-left: 15px;
  }
#boxdesplegable {
        display: flex;

}


.maticss2{
    text-align: left;
    
}

#boxbusqueda {
    float: left;
    text-align: left;
    margin-left: 30px;
    background-color: #0F3057;
}
#countryinput{
    margin-top: 10px;
}
#cityinput {
    margin-top: 5px;
}
#dateimput {
    margin-top: 5px;
}
#places {
    margin-top: 5px;
    margin-bottom: 5px;
}

#price {
    margin-top: 5px;
}

#initialTime {
    margin-bottom: 10px;
    margin-top: 5px;
}