/* 
.sidebarAbierta{
    transition: 0.5s;
    text-align: center;
    max-width: 100%;
    margin-left: 270px;
    margin-right: 20px;
    margin-top: 10px;
}
.cardInfoSup{
    border: solid 1px lightgrey;
    border-radius: 30px;
    padding: 10px 0;
    margin-bottom: 10px;
}
.cardInfoSup a {
    color: white;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(15, 48, 87);
    border-radius: 10px;
}
.sidebarCerrada{
    transition: 0.5s;
    text-align: center;
    max-width: 90%;
    margin: 30px auto;
}
.infoContainerSup{
    display: block;
    margin-bottom: 20px;
}
.infoContainerSup img{
    max-width: 300px;
}
.infoContainerSup span{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}
span{
    margin-left:16px!important;
}
.marginArriba{
    margin-top:10px;
} */