.datosHomeAdmin{
    background-color: #f4f4f4 !important;
}
.threeColumsInfo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cardInfoSupplier{
    background-color: #fff;
    margin: 15px;
    height: 100px;
    border: solid 2px #e5e5f4;
    border-radius: 10px;
    align-items: center;
}
.cardInfoSupplier span{
    font-weight: bold;
    font-size: 15px;
}
.barritaInfoSupplier{
    margin:0 auto;
    padding: 3px;
    max-width: 80%;
}
.datosCantidadesSup{
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
}
.containerBarritaSup{
    display: grid;
    grid-template-columns: 65% 35%
}
.blueColorBack{
    background-color: #008cff;
    width: 100%;
    margin-right:0 ;
    
}
.blueColor{
    color: #008cff;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
}
.greenColor{
    color: #17a00e;
    font-size: 20px;
    font-weight: bolder;
}
.greenColorBack{
    background-color: #17a00e;
    width: 100%;
    margin-right:0 ;
}
.yellowColor{
    color: #ffcb2f;
    font-size: 20px;
    font-weight: bolder;
}
.yellowColorBack{
    background-color: #ffcb2f;
    width: 100%;
    margin-right:0 ;
}
.greyColor{
    background-color: #e9ecef;
    width: 100%;
    margin-left: 0;
}
.graficosSupplier{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.graficoSupplier{
    background-color: #fff;
    margin: 15px;
    border: solid 2px #e5e5f4;
    border-radius: 10px;
    align-items: center;
}
.graficosSupplier span{
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}
.topSalesUser{
    background-color: #fff;
    margin: 15px;
    border: solid 2px #e5e5f4;
    border-radius: 10px;
    align-items: center;
}
.mostSaledSupplier{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    margin: 20px;
    border-bottom: solid 1px lightgray;
}
.mostSaledSupplier h5{
    margin: 10px;
}
