.LandingContainer{
    /* background-image: url(./img2.png); */
    /* background-color: red; */
    height: 100vh;
}
.LandingBanner{
    background-color: #0F3057;
    height: 130px;
    margin-top: -30px
}
.LandingBannerTitle{
    color: white;
    width: 300px;
    height:80px;
    font-size: 50px;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 10px;
}
.LandingFirst{
    position:absolute;
}
.TravelForm{
    position:absolute;
    transform: scale(0.85);
    /* left:0px; */
}
.Aerolineas{
    position:absolute;
    height: 500px;
    margin-left:80px;
    margin-top:750px;
    width: 100%;
font-size: 40px;
font-weight: bold;
text-align: left;
display: flex;
align-self: flex-end;
    
}