/* 
ul.pagination {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 40px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 500px;
    background: rgba(67, 117, 152, 0.123);
    background: linear-gradient(337deg, rgba(67, 117, 152, 0.452) 28%, rgba(91, 153, 195, 0.13) 70%, rgba(108, 159, 241, 0.514) 100%);
}


ul.pagination li {display: inline;}

.numeritos {
    color: rgb(97, 97, 97);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.active {
    border-radius: 200px;
    background-color: rgb(156, 156, 156);
    color: white;
    color: rgb(97, 97, 97);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.numeritos:hover:not(.active) {
    border-radius: 100px;
    background-color: rgb(156, 156, 156);
    color: white;
    cursor: pointer;
}
ul.pagination li span {
    color: rgb(97, 97, 97);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.active:hover {
    border-radius: 100px;
    background-color: rgb(156, 156, 156);
    color: white;
    cursor: pointer;
}
.inable:hover{
    border-radius: 100px;
    
    
}
.inableNext:hover{
    border-radius: 100px;
    
} */
