.Banner{
    background-color: #0F3057;
    height: 130px;
    margin-top: -30px
}
.BannerTitle{
    color: white;
    width: 300px;
    height:80px;
    font-size: 50px;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 10px;
}
.algo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}