.ContainerFormLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../Landing/img.jpg);
  height: 530px;
}
.formLogin{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #0F3057;
  width: 600px;
  height: 600px;
  padding-top: 50px;
  margin-top: 50px;
}
.ColorTextLogin{
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}
.ColorTextLoginTitle{
  color: white;
  font-size: 40px;
}
.EmailModify{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
    padding-top: 30px;
}
.PasswordModify{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-top: 30px;
}
.InputLogin{
  width: 400px;
}
.AcomodoButton{
  padding-top: 30px;
}
.ColorTextRegister{
  color:white;
  padding-top: 30px;
}
