.Container{
    position: absolute;
}
.inputSug {
 

    background-color: white;
    cursor: pointer;
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    padding: 8px;
    border-bottom: 0.2px solid rgb(221, 221, 221);
    color: black;
    font-weight: 500;
    position: relative;
    width: 200px;

}
.inputSug:hover{
    background-color: rgb(95, 141, 160);
    color: white;
    box-shadow: 10px 10px 30x 10px black;
}
.inputSearch{
    width: 200px;
}
.avioncito{
    color: rgb(49, 92, 133)
}