.NavBarContainer {
  background-color:black;
  height: 40px;
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:absolute;
  left:195px
}
.Links {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 30px;
  font-size: 15px;
}
.ButtonNavBarLogOut{
  width: 100px;
  margin-left:20px;
  height: 30px;
}
