.divContieneForm {
    width: 100%;
    max-width: 900px;
    margin: 15px;
    position: relative;

}

.formH1 {
    margin-bottom: 30px;
}

.estiloText {
    
    display: block;
    padding: 10px;
    margin: 10px auto;
    background-color: #f1f1f1;
    border: none;
    width: 95%;
    outline: none;
    height: 100px;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;

}

.botonComment {
    
    /* display: inline-block; */
    
    background-color: rgb(64, 99, 133);
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    cursor: pointer;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
   font-weight: bold;
   border-radius: 10px;
    right: 20px;
    bottom: 20px;
    margin-left: 720px;
}
.botonCommentDisable{
    background-color: rgb(141, 141, 141);
    display: inline-block;
    padding: 8px 30px;
    border:none;
    color: rgb(216, 216, 216);
    cursor:not-allowed;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
   font-weight: bold;
   border-radius: 10px;
    right: 20px;
    bottom: 20px;
    margin-left: 720px;
}
