.boxsched {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 50px;
    width: 250px;
    height: 15em;
    border: 1px solid rgb(82, 76, 76);
    margin-right: auto;
    margin-bottom: 1em;
}

.titteam {
    display: flex;
    top: 0em;
    min-height: 100%;
    background-color: #0F3057;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    margin-bottom: 1em;
}

.flagt {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1em;
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.butclose {
    display: flex;
    background-color: red;
    color: white;
    right: auto;
    border-radius: 0.5em;
    align-items: center;
    border: none;
}