.boxwhish {
    width: 300px;
    height: auto;
    border: 1px solid rgb(82, 76, 76);
    border-radius: 1em;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    box-shadow: darkgreen;
}

.titteam {
    display: flex;
    top: 0em;
    height: 2em;
    background-color: #0F3057;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    margin-bottom: 1em;
}

.flagt {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1em;
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.butclose {
    display: flex;
    background-color: red;
    color: white;
    right: auto;
    border-radius: 0.5em;
    align-items: center;
}

.imgwhish {
    display: flex;
    border-radius: 5px;
    width: 250px;
    height: 250px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    display: flex;
    justify-content: start;
}

.buttonera {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.FavoriteCardSmall{
    margin-left: 320px;
    /* margin-top: 50px; */
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
}

.FavoriteCardBackComplete{
    height: 100vw;
    top:0px;
    margin-top: 0px;;
    background-color: rgb(255, 255, 255);
}

.LinkGetIt{
    margin-top: 15px;
    padding: 13px;
    border:none;
    border-radius: 10px;
    background-color: rgb(51, 126, 161);
    color: rgb(255, 255, 255);
    cursor:pointer;
    transition: 0.2s;
}

