/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.containernadia {
  position:absolute;
  width:100%;
  height:100vh;
  background: #2c302d;
}
.cardnadia {

  width: 600px;
  height: 570px;

  padding: auto;
  text-align: center;
  background: #242625;
  border-radius: 10px;
 
  
}

.cardNadiaheader {
    text-transform: uppercase;
    font-size: 20px;
  
}

.cardNadiabutton {
    padding: 10px;
    border-radius: 50px;
    background: #0F3057;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 50px auto;
    width: 300px;
    height: 45px;
  }

.imagenCardNadia{
    width: 350px;
  }

  .imgActividadNadia{
     width: 100px;
    
  }

  .labelActividadNadia {
    margin-block: 10px;
    margin-left: 20px;
  }

.cardcontainerNadia {
    display: grid;
    width:300%;
    height:300%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
}

.divActividadNadia{
       
        display: flex;
        margin-left: 50px;
      
        margin-bottom: 10px;
}

.cardImagenNadia {
   width: 30px;
}

.cardcontentNadia {
    width: 90%;
    height: 95%;
    background: #191a19;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;

    transition: 0.3s all ease-in-out;
    
  }

.cardcontentNadia:hover{
    margin-top:-10px;
}

img {
    width: 200px;
}

.cardNadiainfo{
    margin-bottom: 25px;
}

.imagenActividadNadia {
  width: 110px;
} */