.TravelFormContainer2 {
  background-image: url(../Landing/img.jpg);
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 1400px; 
  /* align-items: center;
  justify-content: center; */
  margin: 25px;
  font-size: 15px;
}
.TitleHome2{
  font-size: 40px;
  padding-top: 150px;
  padding-bottom: 20px;
}
.FormContainer2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 400px;
  background-color: #0F3057;
  opacity: 90%;
}
.ContainerForm2{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: auto;
  height: 400px;
}
.DesdeHaciaContainer2 {
  display: flex;
flex-direction: row;
/* align-items: center; */
margin-top: -10px;

/* margin-left: 20px;
height: 80px;
width: 430px; */
}
.DesdeContainer2{
  align-self: flex-start;
padding-top: 30px;
}
.DesdeHastaContainer2 {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  height: 80px;
  width: 440px;
  padding-bottom: 10px;
  padding-top: -10px;
}
/* .ContainerSelectAbajo{
  display: flex;
  flex-direction: row;
} */
/* .TextTravelFormAbajo {
  color: white;
  font-size: 20px;
  margin-right: 140px;
  
} */
.TextTravelFormArriba2{
  color: white;
  font-size: 20px;
  text-align: start;
  /* margin-left: 25px; */
}
/* .selectPassengers{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding-top: 30px;
  margin-bottom: 20px;
  width: 400px;
} */
/* .LabelSelectPassengers{
  color:white;
  font-size: 15px;
} */
/* .InputSelectPassengers{
  width: 30px;
  height: 20px;
} */
/* .selectCurrency{
  
  margin-top: 20px;
  display: flex;
  flex-direction: column;
} */
/* .LabelSelectCurrency{
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
} */
/* .SelectTravelForm {
  width: 235px;
  height: 40px;

} */
/* .SelectTravelFormContainer{
  display: flex;
  flex-direction: column;
} */
/* .InputTravelForm {
  width: 200px;
  height: 40px;
  position:absolute;
} */
/* .DesdeInput{
  color: black;
  width: 200px;
  height: 40px;
} */
/* .PositionButton{
  padding-top: 30px;
  width: 90px;
  height: 80px;
} */

/* .RadioTravelForm{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -250px;
  align-items:baseline;

} */
/* .LabelRadioTravelForm{
  color: white;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
} */
/* .SelectCurrencySelect{
  height: 40px;
  width: 230px;
  border-color: none;
} */
/* .InfoDeVuelo{
  color: white;
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  background-color: tomato;
} */
/* .ContainerInfoVuelo{
  background-color: #ff6347;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-top:10px;
  margin-bottom: 20px;
} */