.TravelFormContainer {
  background-image: url(../Landing/img.jpg);
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 1400px;
  align-items: center;
  justify-content: center;
}
.TitleHome {
  font-size: 40px;
  padding-top: -10px;
}
.FormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;

  height: 500px;
  background-color: #0f3057;

  opacity: 90%;
}
.ContainerForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 550px;
}
.DesdeHaciaContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  height: 80px;
  margin-bottom: 10px;
}
.DesdeHastaContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80px;

  width: 440px;
}
.TextTravelFormAbajo {
  color: white;
  font-size: 15px;
  margin-right: 140px;
}
.TextTravelFormArriba {
  color: white;
  font-size: 15px;
  margin-right: 170px;
}
.selectPassengers {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
}
.LabelSelectPassengers {
  color: white;
}
.InputSelectPassengers {
  width: 30px;
  height: 20px;
}
.selectCurrency {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.LabelSelectCurrency {
  color: white;
  font-size: 15px;
  padding-bottom: 10px;
}
.SelectTravelForm {
  width: 400px;
  height: 40px;
}
.InputTravelForm {
  width: 200px;
  height: 40px;
}
.DesdeInput {
  color: black;
  width: 200px;
  height: 40px;
}
.PositionButton {
  padding-top: 20px;
  width: 90px;
  height: 80px;
}
.TextAirlines {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
}

.PublicityContainer {
  height: 500px;
  width: 480px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 30px;
}
.LogoAerolineas {
  width: 160px;
}

.AcomodoImg {
  display: inline-flexbox;

  width: 300px;
  height: 400px;
}
.LogoAerolineasAmerican {
  width: 150px;
  height: 70px;
  background-color: white;
}
.LogoAerolineasArgentina {
  width: 150px;
  height: 70px;
  background-color: white;
}
.LogoAerolineasNew {
  width: 120px;
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
}
.LogoAerolineasFrance {
  width: 130px;
  height: 70px;
  margin-bottom: -8px;
}
.LogoAerolineasUnited {
  width: 160px;
  height: 70px;
  margin-left: -20px;
}
.LogoAerolineasBritish {
  width: 160px;
  height: 60px;

  padding-left: 20px;
}
.danger {
  display: none;
}
.RadioTravelForm {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -250px;
  align-items: baseline;
}
.LabelRadioTravelForm {
  color: white;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;

  margin-bottom: 10px;
}
.SelectCurrencySelect {
  height: 40px;
  width: 250px;
  border-color: none;
}
